* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #2e2e2e;
}

.app {
  margin: auto;
  max-width: 90%;

  h1 {
    text-align: center;
  }
}

.page {
  text-align: center;
  margin-bottom: 40px;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  line-height: calc(100vh + 64px);
  text-align: center;
  color: #f9f9f9;
  font-size: 20px;
  z-index: 2;

  &-spinner {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: calc(50% - 64px);
    left: calc(50% - 32px);

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid #1e90ff;
      border-radius: 50%;
      animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #1e90ff transparent transparent transparent;
    }
    div:nth-child(1) {
      animation-delay: -0.45s;
    }
    div:nth-child(2) {
      animation-delay: -0.3s;
    }
    div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

.btn {
  padding: 8px 12px;
  border: 0;
  outline: none;
  cursor: pointer;

  &-gray {
    background: #b4b4b4;
    color: #2e2e2e;
  }

  &-blue {
    background: #1e90ff;
    color: #fff;
  }
}

.table {
  text-align: left;
  margin-top: 14px;
  width: 100%;

  tbody {
    tr:nth-child(2n) {
      background: #efefef;
    }

    td {
      line-height: 30px;
      border-top: 1px solid #ccc;
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.errorPopup {
  position: absolute;
  z-index: 3;
  background: #f9f9f9;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  max-width: 300px;
  max-height: 80vh;
  transform: translate(-50%, -50%);

  &-title {
    text-align: left;
    padding: 0 14px;
    background: #efefef;
    color: #f52500;
    text-transform: uppercase;
    margin-right: 40px;
    line-height: 46px;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 46px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
    }
  }
}
